<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site Institucional</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header>
      <section>
        <figure>
          <img src="../logo.png" alt="Logomarca no cabeçalho" />
          <figcaption><span>LOGO</span> MARCA</figcaption>
        </figure>
      </section>
      <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="scredule.html">Schedule</a></li>
        </ul>
      </nav>
    </header>

    <footer>
      <section>
        <p>Desafio de projeto: Formação HTML Web Developer</p>
        <p>
          por
          <a href="https://github.com/angelitasantos">Angelita Santos</a>
        </p>
      </section>
      <p><a href="#">Voltar ao topo</a></p>
    </footer>
  </body>
</html>